*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}
/* header section start */
header{
    background-color:#FF900E1A;
    height: 1322px;
    width: 100%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1250px;
    width: 100%;
    height: 100px;
    margin: 0 auto;
}
nav ul{
    display: flex;
    gap: 40px;
}
nav li{
    list-style: none;
}
nav h3{
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
}
nav a{
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #424242;
}
/* Architects section */
.architect{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin-top: 100px;
}
.architect h1{
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    color: #131313;
}
.architect p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
}
.arc-btn{
    width: 180px;
    height: 64px;
    background: #FF900E;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;    
    color: #FFFFFF;
    border-radius: 8px;
    border: 1px solid #FF900E;
}
.arc-btn:hover{
    color: #FF900E;
    background: #FFFFFF;
    border: 2px solid #FF900E;
}
.architect-img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.architect-img img{
    max-width: 1200px;
    width: 90%;
    height: 100%;
}
/* quick list section start */
.quick-list-section{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
}
.quick-list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    margin-top: 85px;
}
.quick-list-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 14px;
}
.quick-list-grid img{
    width: 320px;
    height: 320px;  
}
.quick-list-text h2{
    font-weight: 500;
    font-size: 45px;
    line-height: 53px;
    color: #727272;
}
.span-1{
    color: #131313;
    font-weight: 700;
}
.span-2{
    font-weight: 700;
    color: #FF900E;
}
.quick-list-text p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}
/* features section start */
.feature-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.feature{
    display: flex;
    gap: 100px;
}
.features{
    width: 575px;
    height: 950px;
    margin-top: 160px;
}
.feature-title{
    display: flex;
    gap: 20px;
}
.orange-color{
    width: 5px;
    height: 106px;
    background: #FF900E;
}
.feature-title h3{
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
}
.title-feature p{
    margin-top: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}
.feature-about{
    width: 575px;
    height: 170px;
    margin-top:20px;
    padding: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.feature-about h4{
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #131313;
}
.feature-about p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin-top: 10px;
}
.feature-image{
    position: relative;
}
.feature-image img{
    width: 618px;
    height: 950px;
    border-radius: 8px;
    margin-top: 130px;
   
}
/* label 10+ */
.experience-label{
    width: 342px;
    height: 200px;
    background-color: #FF900E;
    padding: 45px;
    border-radius: 8px;
    position: absolute;
    bottom: -55px;
    left: -60px;
    opacity: 10;
    z-index: 20;
    border: 2px solid #FF900E;
}
.experience-label h1{
    font-weight: 700;
    font-size: 65px;
    line-height: 70px;
    text-align: center;
    color: #FFFFFF;
}
.experience-label p{
    font-weight: 500;
    font-size: 25px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
}
/* fact section start */
.fact-section{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin: 100px auto;
    max-width: 1250px;
    width: 100%;
}
.fact-title{
    margin-right: 650px;
    margin-top: 100px;
    /* padding: 0; */
}
.fact-title > h2{
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
    text-align: left;
}
.fact-title > p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
}
.detail-section{
    display: flex;
    gap: 100px;
    margin-top: 100px;
   
}
.detail{
    height: 200px;
    width: 200px;
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding: 10px;
    animation:  2s linear ;
}

.detail:hover{
    transform: rotate(40deg);
}
    
.detail img{
    padding-left: 65px;
}
.detail h2{
    font-weight: 600;
    font-size: 45px;
    line-height: 53px;
    text-align: center;
    color: #424242;
}
.detail p{
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #727272;
    text-align: center;
}
/* resent project */
.resent-project{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
   
}
.resent-project h1{
    font-weight: 600;
    font-size: 45px;
    line-height: 53px;
    text-align: center;
    color: #424242;
}
.resent-project p{
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #727272;
    text-align: center;
}
.image-project{
    display: flex;
    margin: 100px auto;
}
.project-image{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    max-width: 1250px;
    width: 100%;
    gap: 100px;
}
.project-image img{
    max-width: 450px;
    max-height: 450px;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
/*  sponsor section start */ 
.sponsor-section h2{
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    color: #131313;
    text-align: center;
}
.sponsor-section p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;
}
.Sponsors{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.Sponsor img{
    height: 50px;
    width: 150px;
}




/* media query mobile */
@media only screen and (max-width:576px){
    nav{
        flex-direction: column;
    }
    nav h3{
        font-size: 30px;
    }
    nav ul{
        gap: 15px;
    }
    nav a{
        font-size: 14px;
    }
/* Architects section */

    .architect h1{
        font-size: 32px;
        line-height: 35px;
    }
    .architect p{
        font-size: 12px;
        line-height: 16px;
        margin: 15px;
    }
/* quick list section start */
    .quick-list{
        flex-direction: column;
    }
    .quick-list-grid{
        grid-template-columns: repeat(1,1fr);
        /* gap: 14px; */
    }
    .quick-list-grid img{
        width: 100%;
        height: 100%;
         
    }
    .quick-list-text h2{
        font-size: 32px;
        line-height: 45px;
    }
/* features section start */
    .feature{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 10px;
    }
    .features{
        width: 100%;
        width: 100%;
        margin: 10px;
    }
    .title-feature{
        margin: 50px;
    }
    .feature-title h3{
        font-size: 30px;
        line-height: 35px;
    }
    .feature-title p{
        font-size: 12px;
    }
    .about-feature{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px;
    }
    .feature-about{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    .feature-about h4{
        font-size: 15px;
    }
    .feature-about p{
        font-size: 10px;
    }
    .feature-image{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px; 
        position: static;
        
    }
    .feature-image img{
        margin-top: 250px;
        width: 80%;
        height: 80%;
    }
    .experience-label{
        margin-top: 30px;
        position: static;
        display: flex;
        flex-direction: column;
        padding: 30px;
        height: 100px;
        width: 200px;
        padding-left: 50px;
    }
    .experience-label h1{
        font-size: 25px;
        line-height: 30px;
    }
    .experience-label p{
        font-size: 15px;
        line-height: 20px;
        margin-left: 5px;
    }
    /* some fact section */
    .fact-title{
        display: flex;
        flex-direction: column;
        margin: 0;
        justify-content: center;
        align-items: center;
    }
    .fact-title h2{
        font-size: 35px;
    }
    .fact-title br{
        display: none;
    }
    .fact-section p{
        margin: 10px;
        text-align: center;
    }
    .detail-section{
        flex-direction: column;
    }
     /* resent project */
     .project-image{
        grid-template-columns: repeat(1,1fr);
        margin: 10px;
    }
    .resent-project h1{
        font-size: 35px;
    }
    .resent-project p{
        font-size: 14px;
        margin: 10px;
    }
    .resent-project br{
        display: none;
    }
    /* sponsor section */
    .sponsor-section h2{
        font-size: 35px;
    }
    .sponsor-section p{
        font-size: 14px;
        margin: 10px;
    }
    .sponsor-section br{
        display: none;
    }
    .Sponsors{
        flex-direction: column;
    }
   
}